@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
* {
  box-sizing: border-box;
}
.row:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -5000px;
  height: 100%;
  width: 15000px;
  z-index: -1;
  background: inherit;
}
.row:first-child {
  padding: 40px 30px;
}

.ps{
  position: relative;
  display: inline-block;
  margin: 13px 10px;
  margin-left: 7%;
  margin-top: 0%;


}

.sp{
  position: relative;
  display: inline-block;
  margin: 13px 10px;
  margin-left: 7%;
  margin-top: 0%;


}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
 

.add {
  font-family: Raleway-Bold;
  font-size: 20px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
 
  min-width: 39%;
  height: 30px;
  background-color: #f0efef;
  border-radius: 5px;
  margin-left: 55%;
  margin-top:-6%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; 
  position: relative;
}

.add:hover {
  background-color: #57b846;
}

.clean-slide {
  position: relative;
  display: inline-block;
  width: 290px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #377d6a;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 45%;
  transition: all 0.3s ease-in-out;
}

.clean-slide::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.clean-slide + label {
  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: -10px;
  bottom: 0;
  padding: 13px 15px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: left;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-in-out, color 0.3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}
.clean-slide + label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #741111;
  z-index: -1;
  transform: translate(0);
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 40px;
}
.clean-slide:focus, .clean-slide:active {
  color: #377d6a;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.clean-slide:focus::-webkit-input-placeholder, .clean-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.clean-slide:focus + label, .clean-slide:active + label {
  color: #fff;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  transform: translateX(-100%);
}
.clean-slide:focus + label:after, .clean-slide:active + label:after {
  transform: translate(100%);
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(116deg);
  }
  40% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(98deg);
  }
  80% {
    transform: rotate(76deg);
  }
  100% {
    transform: rotate(82deg);
  }
}
@keyframes swing-back {
  0% {
    transform: rotate(82deg);
  }
  100% {
    transform: rotate(0);
  }
}


body{
  width: 100%;
  margin: 0 auto;
 /* background: linear-gradient(369deg,rgb(236 236 236), rgb(255 255 255));
  width: 100vw;
  height: 100vh;*/
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/public/images/ufb.jpg');
  
}

