@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
* {
  box-sizing: border-box;
}


.row:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -5000px;
  height: 100%;
  width: 15000px;
  z-index: -1;
  background: inherit;
}
.row:first-child {
  padding: 20px 10px;
}

.ps{
  position: relative;
  display: inline-block;
  margin: 15px 10px;
  margin-left: 7%;
  margin-top: 0%;
}


.sp {
  position: relative;
  display: inline-block;
  margin: 15px 10px;
  margin-left: 7%;
  margin-top: 0%;
}

input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}



.clean-slide {
  position: relative;
  display: inline-block;
  width: 290px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #c00f0f;
  background: #efefef;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 45%;
  transition: all 0.3s ease-in-out;
}

.clean-slide::-webkit-input-placeholder {
  color: #efefef;
  text-indent: 0;
  font-weight: 300;
}
.clean-slide + label {
  display: inline-block;
  position: absolute;
  transform: translateX(0);
  top: 0;
  left: -10px;
  bottom: 0;
  padding: 13px 15px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;

  text-align: left;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-in-out, color 0.3s ease-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
}
.clean-slide + label:after {
  content: "";
  position: absolute;
  top: -10%;
  right: 100%;
  bottom: 0;
  width: 100%;
  background: #741111;
  z-index: -1;
  transform: translate(0);
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 40px;
}
.clean-slide:focus, .clean-slide:active {
  color: #af0303;
  text-indent: 0;
  background: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.clean-slide:focus::-webkit-input-placeholder, .clean-slide:active::-webkit-input-placeholder {
  color: #aaa;
}
.clean-slide:focus + label, .clean-slide:active + label {
  color: #fff;
  text-shadow: 0 1px 0 rgba(74, 19, 19, 0.4);
  transform: translateX(-100%);
}
.clean-slide:focus + label:after, .clean-slide:active + label:after {
  transform: translate(100%);
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(116deg);
  }
  40% {
    transform: rotate(60deg);
  }
  60% {
    transform: rotate(98deg);
  }
  80% {
    transform: rotate(76deg);
  }
  100% {
    transform: rotate(82deg);
  }
}
@keyframes swing-back {
  0% {
    transform: rotate(82deg);
  }
  100% {
    transform: rotate(0);
  }
}

body{
  width: 100%;
  margin: 0 auto;
 /* background: linear-gradient(369deg,rgb(236 236 236), rgb(255 255 255));
  width: 100vw;
  height: 100vh;*/
  width: auto;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/public/images/uiii.png');
  
}


table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
  background-color: white;
}

.container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(0, 0, 0);
}
