{{define "sidebar"}}
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

 <aside class="sidebar">
      <div class="toggle">
        <a href="#" class="burger js-menu-toggle" data-toggle="collapse" data-target="#main-navbar">
              <span></span>
            </a>
      </div>
      <div class="side-inner">

        <div class="profile">
          <img src="public/images/fdsaplogo.png" alt="Image" class="img-fluid">
          <h2 class="name" style="color:white">Whitelist</h2>
         
        </div>

        
        <div class="nav-menu">
          <ul>
            <li><a href="/uploadfile"><span class="fas fa-file mr-3"></span> Uploadfile</a></li>
            <li><a href="/allmember"><span class="fas fa-list mr-3"></span>Member's list</a></li>
            <li><a href="/client?newcid="><span class="fas fa-check mr-3"></span>Client check</a></li>
            <li><a href="/exit"><span class="fas fa-angle-double-right mr-3"></span> Logout</a></li>
          </ul>
        </div>
      </div>
      
    </aside>
{{end}}